<div class="container py-4 py-xl-5">
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        {{ collection:anatomy }}
        <div class="col">
            <div>
                {{ image }}
                <img class="rounded img-fluid object-fit-cover d-block w-100" style="height: 200px;" src="{{ url }}"  alt="img"/>
                {{ /image }}
                <div class="py-4">
                    <h4>{{ title }}</h4>
                    <p>{{ content }}</p>
                </div>
            </div>
        </div>
        {{ /collection:anatomy }}
    </div>
</div>
