<div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h1>Ernährung</h1>
            <p class="w-lg-50">Die Ernährung ist ein wichtiger Faktor beim Muskelaufbau und Training.</p>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2">
        {{ collection:nutrition }}
        <div class="col">
            <div class="d-flex flex-column flex-lg-row">
                {{ if image }}
                <div class="w-100">
                    {{ image }}
                    <img class="rounded img-fluid d-block w-100 fit-cover"
                                        alt="{{ title }}"
                                        style="height: 200px;max-width: 100%;"
                                        src="{{ url }}">
                    {{ /image }}
                </div>
                {{ /if }}
                <div class="py-4 py-lg-0 px-lg-4">
<!--                    <h4><a href="{{ url }}">{{ title }}</a></h4>-->
                    <h4>{{ title }}</h4>
                    <p>{{ content }}</p>
                </div>
            </div>
        </div>
        {{ /collection:nutrition }}
    </div>
</div>
